@media only screen and (max-width: 576px) {
    .sign-in-page-container {
        height: 100vh;

        .admitkard-logo-container {
            position: absolute;
            width: 264px;
            height: 50px;
            left: calc(50% - 264px/2 - 0.5px);
            top: 15vh;

            .admitkard-logo {
                width: 100%;
                height: 100%;
            }
        }

        .welcome {
            position: absolute;
            width: 174px;
            height: 28px;
            left: calc(50% - 174px/2 + 0.5px);
            top: 30vh;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
        }

        .subtitle {
            position: absolute;
            width: 237px;
            height: 19px;
            left: calc(50% - 237px/2 + 1px);
            top: 38vh;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            color: #666666;
        }

        .bottom-caption {
            position: absolute;
            width: 343px;
            height: 28px;
            left: calc(50% - 343px/2);
            top: 66vh;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #999999;
        }
        
        .sign-in-with-otp {
            position: absolute;
            width: 224px;
            height: 36px;
            left: calc(50% - 224px/2 - 0.5px);
            top: 80vh;
            background: #F7B348;
            border-radius: 100px;
            border: none;
            outline: none;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            text-align: center;
            color: #FFFFFF;
        }
    }
}