@media only screen and (max-width: 576px) {
    button {
        position: absolute;
        height: 36px;
        top: 83vh;
        background: #F7B348;
        border-radius: 100px;
        border: none;
        outline: none;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        color: #FFFFFF;

        &.custom-button {
            width: 224px;
            left: calc(50% - 224px/2 - 0.5px);
        }

        &.get-started {
            width: 160px;
            left: calc(50% - 160px/2);
        }
    }
}